html {
  scroll-behavior: smooth;
  background-image: radial-gradient(
    52vw 52vw at 82.5% 6%,
    $circle-background 60%,
    transparent 60%
  );
}

@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
@media screen and (min-width: $widescreen) {
  html {
    background-image: radial-gradient(
      52vw 52vw at 82.5% 5%,
      $circle-background 60%,
      transparent 60%
    );
  }
}
@media screen and (min-width: $fullhd) {
  html {
    background-image: radial-gradient(
      52vw 52vw at 82.5% 6%,
      $circle-background 60%,
      transparent 60%
    );
  }
}
