._heroland {
  position: relative;
  background: url('/images/hero_land.jpg') center / cover no-repeat;

  .hero-body {
    .title.is-1 {
      @include mq($desktop) {
        line-height: 1.05 !important;
        width: 98%;
      }
    }

    p.is-size-5 {
      @include mq($desktop) {
        font-weight: lighter;
        margin-top: -14px;
        line-height: 1.24;
        margin-bottom: 52px;
      }
    }

    button.button {
      font-weight: bold;
      height: 80px;
      padding: 20px;
      border-radius: 0;
    }

    @include mq($desktop) {
      // margin-top: -10px;
      padding-top: 0 !important;
      margin-left: 13.5%;
      width: 22%;
    }
  }

  &::before {
    @include mq($desktop) {
      content: '';
      position: absolute;
      height: 630px;
      width: 54%;
      left: 39%;
      // background-color: linear-gradient(to right, transparent 50%, red 50%);
      background-image: url('/images/hero_land.jpg'),
        linear-gradient(to right, transparent 89%, $primary 89%);
      background-size: cover;
      background-position: -120px, 0;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }
  }
  
  @include mq($desktop) {
    background: none;
  }
}
