// .navbar-items-main > * {
//   margin-right: 10px;
// }

._navbar {
  background-color: transparent !important;
  padding-top: 75px;
  padding-bottom: 75px;

  .navbar-brand img {
    width: 70%;
    margin-left: 30px;
  }

  .navbar-items {
    display: flex;
    border-bottom: 1px solid black;

    * {
      margin-right: 15px;
    }
  }

  .buttons button.button {
    margin-left: 10px;
    border-radius: 0;
    padding-left: 17px;
    padding-right: 17px;
  }
}
