._navbar {
  background-color: transparent !important;

  img {
    width: 230px;
    height: auto;
  }
}

@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}

@media screen and (min-width: $widescreen) {
}

@media screen and (min-width: $fullhd) {
  ._navbar {
    padding: 50px 235px 90px;

    .navbar-end {
      ._items {
        .navbar-item {
          border-bottom: 1px solid black;
          padding-right: 30px;
        }
      }

      .buttons button.button {
        border-radius: 0;
        height: 25px;
        font-size: 14px;
        letter-spacing: 1px !important;
      }
    }
  }
}
