._navbar {
  padding: 50px 235px 90px;
  transition: 0.6s;
  background-color: transparent !important;

  img {
    width: 230px;
    height: auto;
  }
}

// .sticky {
//   width: 100%;
//   // background: #fff !important;
//   position: fixed;
//   height: auto !important;
//   padding: 0;
//   transition: 0.6s;
//   border: 1px solid black;

//   .navbar-item {
//     border-bottom: none !important;
//   }
// }

.__mainhero {
  background: transparent !important;

  .hero-body {
    margin-top: 200px;
  }
}

@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}

@media screen and (min-width: $widescreen) {
}

@media screen and (min-width: $fullhd) {
  ._navbar {

    .navbar-end {
      ._items {
        .navbar-item {
          padding-right: 30px;
          border-bottom: 1px solid black;
          
          &.is-active {
            background: $circle-background;
            border-radius: 5px;
          }
        }
      }

      .buttons button.button {
        border-radius: 0;
        height: 25px;
        font-size: 14px;
        letter-spacing: 1px !important;
      }
    }
  }
}
