@import './font-face.scss';

$family-sans-serif: 'Gilroy', sans-serif;

// changing the container size
$gap: 32px;
$container-offset: (10 * $gap);

$size-1: 3.95rem;
$size-5: 1.2rem;

// Colors
$primary: rgb(42, 112, 158);
$link: rgb(47, 150, 187);

.navbar-items-main > * {
  margin-right: 10px;
}

[aria-label='main navigation'] {
  background-color: transparent !important;
}

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
