@import './font-face.scss';

$family-sans-serif: 'Gilroy', sans-serif;

// changing the container size
$gap: 32px;
$container-offset: (10 * $gap);

.navbar-items-main > * {
  margin-right: 10px;
}

@import 'bulma/bulma';
